<body class="full-height">
<header>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>


</header>
<main>
  <div class="row scrollable-content">
    <div class="col s12 m2">
      <div class="card">
        <div class="card-image">
          <img src="https://ia.media-imdb.com/images/M/MV5BMTYyNjA4NTY3N15BMl5BanBnXkFtZTYwNjc0MDM3._V1_SX300.jpg">
        </div>
      </div>
    </div>
    <div class="col s12 m2">
      <div class="card">
        <div class="card-image">
          <img src="https://ia.media-imdb.com/images/M/MV5BMTYyNjA4NTY3N15BMl5BanBnXkFtZTYwNjc0MDM3._V1_SX300.jpg">
        </div>
      </div>
    </div>
    <div class="col s12 m2">
      <div class="card">
        <div class="card-image">
          <img src="https://ia.media-imdb.com/images/M/MV5BMTYyNjA4NTY3N15BMl5BanBnXkFtZTYwNjc0MDM3._V1_SX300.jpg">
        </div>
      </div>
    </div>
    <div class="col s12 m2">
      <div class="card">
        <div class="card-image">
          <img src="https://ia.media-imdb.com/images/M/MV5BMTYyNjA4NTY3N15BMl5BanBnXkFtZTYwNjc0MDM3._V1_SX300.jpg">
        </div>
      </div>
    </div>
    <div class="col s12 m2">
      <div class="card">
        <div class="card-image">
          <img src="https://ia.media-imdb.com/images/M/MV5BMTYyNjA4NTY3N15BMl5BanBnXkFtZTYwNjc0MDM3._V1_SX300.jpg">
        </div>
      </div>
    </div>
    <div class="col s12 m2">
      <div class="card">
        <div class="card-image">
          <img src="https://ia.media-imdb.com/images/M/MV5BMTYyNjA4NTY3N15BMl5BanBnXkFtZTYwNjc0MDM3._V1_SX300.jpg">
        </div>
      </div>
    </div>
    <div class="col s12 m2">
      <div class="card">
        <div class="card-image">
          <img src="https://ia.media-imdb.com/images/M/MV5BMTYyNjA4NTY3N15BMl5BanBnXkFtZTYwNjc0MDM3._V1_SX300.jpg">
        </div>
      </div>
    </div>
    <div class="col s12 m2">
      <div class="card">
        <div class="card-image">
          <img src="https://ia.media-imdb.com/images/M/MV5BMTYyNjA4NTY3N15BMl5BanBnXkFtZTYwNjc0MDM3._V1_SX300.jpg">
        </div>
      </div>
    </div>
    <div class="col s12 m2">
      <div class="card">
        <div class="card-image">
          <img src="https://ia.media-imdb.com/images/M/MV5BMTYyNjA4NTY3N15BMl5BanBnXkFtZTYwNjc0MDM3._V1_SX300.jpg">
        </div>

      </div>
    </div>
    <div class="col s12 m2">
      <div class="card">
        <div class="card-image">
          <img src="https://ia.media-imdb.com/images/M/MV5BMTYyNjA4NTY3N15BMl5BanBnXkFtZTYwNjc0MDM3._V1_SX300.jpg">
        </div>
      </div>
    </div>
    <div class="col s12 m2">
      <div class="card">
        <div class="card-image">
          <img src="https://ia.media-imdb.com/images/M/MV5BMTYyNjA4NTY3N15BMl5BanBnXkFtZTYwNjc0MDM3._V1_SX300.jpg">
        </div>
      </div>
    </div>
    <div class="col s12 m2">
      <div class="card">
        <div class="card-image">
          <img src="https://ia.media-imdb.com/images/M/MV5BMTYyNjA4NTY3N15BMl5BanBnXkFtZTYwNjc0MDM3._V1_SX300.jpg">
        </div>
      </div>
    </div>


  </div>

</main>
<footer>
</footer>
</body>
